In [1]:
from misophonia_dataset._log import setup_print_logging

setup_print_logging()

import pandas as pd

from misophonia_dataset._analysis import models_to_df
from misophonia_dataset.source_data.esc50 import Esc50Dataset
from misophonia_dataset.source_data.fsd50k import Fsd50kDataset
from misophonia_dataset.source_data.foams import FoamsDataset

# Loading individual source data

In [2]:
esc50 = Esc50Dataset()
esc50.download_data()
esc50_meta = models_to_df(esc50.get_metadata())

esc50_meta.head()

,split,source_dataset,file_path,freesound_id,label_type,labels,validated_by,sound_license,dataset_license,esc50_filename,esc50_fold,esc50_target,esc50_category,esc50_esc10,esc50_take,_model
0,train,ESC50,data/ESC50/ESC-50-master/audio/1-12653-A-15.wav,12653,trigger,"(water_drops,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,1-12653-A-15.wav,1,15,water_drops,False,A,split='train' source_dataset='ESC50' file_path...
1,train,ESC50,data/ESC50/ESC-50-master/audio/1-12654-A-15.wav,12654,trigger,"(water_drops,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,1-12654-A-15.wav,1,15,water_drops,False,A,split='train' source_dataset='ESC50' file_path...
2,train,ESC50,data/ESC50/ESC-50-master/audio/1-12654-B-15.wav,12654,trigger,"(water_drops,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,1-12654-B-15.wav,1,15,water_drops,False,B,split='train' source_dataset='ESC50' file_path...
3,train,ESC50,data/ESC50/ESC-50-master/audio/1-137-A-32.wav,137,trigger,"(typing,)",None,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'https://creativecommons.org/l...,1-137-A-32.wav,1,32,keyboard_typing,False,A,split='train' source_dataset='ESC50' file_path...
4,val,ESC50,data/ESC50/ESC-50-master/audio/1-16746-A-15.wav,16746,trigger,"(water_drops,)",None,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'https://creativecommons.org/l...,1-16746-A-15.wav,1,15,water_drops,False,A,split='val' source_dataset='ESC50' file_path=P...

In [3]:
fsd50k = Fsd50kDataset()
fsd50k.download_data()
fsd50k_meta = models_to_df(fsd50k.get_metadata())

assert fsd50k_meta.loc[fsd50k_meta["fsd50k_split"] == "eval", "split"].isin(["test"]).all(), (
    "All samples from FSD50K 'eval' must be in the 'test' split"
)

fsd50k_meta.head()

,split,source_dataset,file_path,freesound_id,label_type,labels,validated_by,sound_license,dataset_license,fsd50k_fname,fsd50k_labels,fsd50k_mids,fsd50k_split,_model
0,train,FSD50K,data/FSD50K/dev_audio/64760.wav,64760,background,"(Electric_guitar,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,64760,[Electric_guitar],/m/02sgy,dev,split='train' source_dataset='FSD50K' file_pat...
1,train,FSD50K,data/FSD50K/dev_audio/16399.wav,16399,background,"(Electric_guitar,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,16399,[Electric_guitar],/m/02sgy,dev,split='train' source_dataset='FSD50K' file_pat...
2,train,FSD50K,data/FSD50K/dev_audio/16401.wav,16401,background,"(Electric_guitar,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,16401,[Electric_guitar],/m/02sgy,dev,split='train' source_dataset='FSD50K' file_pat...
3,train,FSD50K,data/FSD50K/dev_audio/16402.wav,16402,background,"(Electric_guitar,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,16402,[Electric_guitar],/m/02sgy,dev,split='train' source_dataset='FSD50K' file_pat...
4,train,FSD50K,data/FSD50K/dev_audio/16404.wav,16404,background,"(Electric_guitar,)",None,{'license_url': 'http://creativecommons.org/li...,{'license_url': 'https://creativecommons.org/l...,16404,[Electric_guitar],/m/02sgy,dev,split='train' source_dataset='FSD50K' file_pat...

In [4]:
foams = FoamsDataset()
foams.download_data()
foams_meta = models_to_df(foams.get_metadata())

assert foams_meta["split"].nunique() == 1 and foams_meta["split"].unique()[0] == "test", (
    "All FOAMS samples must be in the 'test' split"
)

foams_meta.head()

,split,source_dataset,file_path,freesound_id,label_type,labels,validated_by,sound_license,dataset_license,foams_duration,_model
0,test,FOAMS,data/FOAMS/processed_audio/184320_processed.wav,184320,trigger,"(basketball_dribbling,)","(FOAMS,)",{'license_url': 'http://creativecommons.org/pu...,{'license_url': 'https://creativecommons.org/l...,3.270003,split='test' source_dataset='FOAMS' file_path=...
1,test,FOAMS,data/FOAMS/processed_audio/580220_processed.wav,580220,trigger,"(basketball_dribbling,)","(FOAMS,)",{'license_url': 'http://creativecommons.org/pu...,{'license_url': 'https://creativecommons.org/l...,3.862957,split='test' source_dataset='FOAMS' file_path=...
2,test,FOAMS,data/FOAMS/processed_audio/262507_processed.wav,262507,trigger,"(basketball_dribbling,)","(FOAMS,)",{'license_url': 'http://creativecommons.org/pu...,{'license_url': 'https://creativecommons.org/l...,4.903607,split='test' source_dataset='FOAMS' file_path=...
3,test,FOAMS,data/FOAMS/processed_audio/453757_processed.wav,453757,trigger,"(basketball_dribbling,)","(FOAMS,)",{'license_url': 'http://creativecommons.org/pu...,{'license_url': 'https://creativecommons.org/l...,5.097981,split='test' source_dataset='FOAMS' file_path=...
4,test,FOAMS,data/FOAMS/processed_audio/530362_processed.wav,530362,trigger,"(basketball_dribbling,)","(FOAMS,)",{'license_url': 'http://creativecommons.org/pu...,{'license_url': 'https://creativecommons.org/l...,5.344224,split='test' source_dataset='FOAMS' file_path=...

# Combining all source data

In [5]:
combined_meta = pd.concat([esc50_meta, fsd50k_meta, foams_meta], ignore_index=True)
combined_meta = combined_meta[
    # These colums are there, see the interface.SourceMetaData class
    ["source_dataset", "split", "freesound_id", "label_type", "labels", "validated_by", "file_path", "dataset_license", "sound_license"] 
]

## Examine different subsets

In [6]:
from IPython.display import HTML, display

def print_value_counts_pcts(title: str, col: pd.Series) -> None:
    normalized = col.value_counts(normalize=True, dropna=False)
    counts = col.value_counts(dropna=False)
    # if all the same, just print that
    if len(counts) == 1:
        print(f"{title} All samples have the same value: {counts.index[0]}")
        return
    
    dist = pd.DataFrame({"count": counts, "percentage": normalized * 100}, index=counts.index)
    print(title)
    display(dist)

def print_subset_info(subset_descr: str, subset: pd.DataFrame):
    display(HTML(f"<h3>=== Subset: {subset_descr} ===</h3>"))
    print(f"* Total samples: {len(subset)}")
    print_value_counts_pcts("\n* Distribution by source dataset:", subset["source_dataset"])
    print_value_counts_pcts("\n* Distribution by split:", subset["split"])
    print_value_counts_pcts("\n* Distribution by label type:", subset["label_type"])
    print_value_counts_pcts("\n* Distribution by validated by:", subset["validated_by"])
    print("\n* Sample entries:")
    display(subset.sample(min(3, len(subset))))

### Examine all source data

In [7]:
print_subset_info("All source data", combined_meta)

* Total samples: 31241

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K          30991   99.199770
ESC50             200    0.640184
FOAMS              50    0.160046

* Distribution by split:

       count  percentage
split
train  23474   75.138440
test    4586   14.679428
val     3181   10.182132

* Distribution by label type:

            count  percentage
label_type
background  27930   89.401748
trigger      2417    7.736628
control       894    2.861624

* Distribution by validated by:

              count  percentage
validated_by
None          31179   99.801543
(FOAMS,)         62    0.198457

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
17894,FSD50K,train,60442,background,"(Splash_and_splatter,)",None,data/FSD50K/dev_audio/60442.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
24118,FSD50K,train,27959,background,"(Sink_(filling_or_washing),)",None,data/FSD50K/dev_audio/27959.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
3856,FSD50K,train,66751,background,"(Wind,)",None,data/FSD50K/dev_audio/66751.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

### Examine by label type

In [8]:
# For each label type
for label_type in combined_meta["label_type"].unique():
    subset = combined_meta[combined_meta["label_type"] == label_type]
    print_subset_info(f"label_type = {label_type}", subset)

* Total samples: 2417

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K           2167   89.656599
ESC50             200    8.274721
FOAMS              50    2.068680

* Distribution by split:

       count  percentage
split
train   1646   68.100952
test     548   22.672735
val      223    9.226314

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None           2355   97.434837
(FOAMS,)         62    2.565163

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
167,ESC50,val,207836,trigger,"(swallowing,)",None,data/ESC50/ESC-50-master/audio/5-207836-B-29.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
13900,FSD50K,val,46195,trigger,"(plastic_crumpling,)",None,data/FSD50K/dev_audio/46195.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
21960,FSD50K,train,319363,trigger,"(clearing_throat,)",None,data/FSD50K/dev_audio/319363.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 27930

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train  21153   75.735768
test    3910   13.999284
val     2867   10.264948

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
3039,FSD50K,train,335946,background,"(Writing,)",None,data/FSD50K/dev_audio/335946.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
5949,FSD50K,val,354658,background,"(Flute,)",None,data/FSD50K/dev_audio/354658.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
2017,FSD50K,train,93872,background,"(Male_speech_and_man_speaking,)",None,data/FSD50K/dev_audio/93872.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Total samples: 894

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train    675   75.503356
test     128   14.317673
val       91   10.178971

* Distribution by label type: All samples have the same value: control

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
30437,FSD50K,test,85578,control,"(harp,)",None,data/FSD50K/eval_audio/85578.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
22605,FSD50K,train,4252,control,"(harp,)",None,data/FSD50K/dev_audio/4252.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
28971,FSD50K,test,56921,control,"(piano,)",None,data/FSD50K/eval_audio/56921.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

### Examine by trigger category

In [9]:
# For each trigger sound label
for label in combined_meta[combined_meta["label_type"] == "trigger"]["labels"].explode().unique():
    subset = combined_meta[
        (combined_meta["label_type"] == "trigger") & (combined_meta["labels"].apply(lambda labels: label in labels))
    ]
    print_subset_info(f"Trigger = {label}", subset)

* Total samples: 328

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            283   86.280488
ESC50              40   12.195122
FOAMS               5    1.524390

* Distribution by split:

       count  percentage
split
train    230   70.121951
test      63   19.207317
val       35   10.670732

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            322   98.170732
(FOAMS,)          6    1.829268

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
17745,FSD50K,train,332658,trigger,"(water_drops, swallowing)",None,data/FSD50K/dev_audio/332658.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
17717,FSD50K,train,79608,trigger,"(water_drops,)",None,data/FSD50K/dev_audio/79608.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
133,ESC50,train,174797,trigger,"(water_drops,)",None,data/ESC50/ESC-50-master/audio/4-174797-A-15.wav,{'license_url': 'https://creativecommons.org/l...,"{'license_url': 'N/A', 'attribution_name': 'N/..."

* Total samples: 434

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            389   89.631336
ESC50              40    9.216590
FOAMS               5    1.152074

* Distribution by split:

       count  percentage
split
train    282   64.976959
test     123   28.341014
val       29    6.682028

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            429   98.847926
(FOAMS,)          5    1.152074

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
176,ESC50,train,222894,trigger,"(typing,)",None,data/ESC50/ESC-50-master/audio/5-222894-A-32.wav,{'license_url': 'https://creativecommons.org/l...,"{'license_url': 'N/A', 'attribution_name': 'N/..."
24370,FSD50K,train,360604,trigger,"(typing,)",None,data/FSD50K/dev_audio/360604.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
22555,FSD50K,train,388485,trigger,"(typing,)",None,data/FSD50K/dev_audio/388485.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 110

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K             65   59.090909
ESC50              40   36.363636
FOAMS               5    4.545455

* Distribution by split:

       count  percentage
split
train     76   69.090909
test      18   16.363636
val       16   14.545455

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            103   93.636364
(FOAMS,)          7    6.363636

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
25191,FSD50K,val,337516,trigger,"(swallowing,)",None,data/FSD50K/dev_audio/337516.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
25208,FSD50K,train,411761,trigger,"(swallowing,)",None,data/FSD50K/dev_audio/411761.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
25169,FSD50K,train,337490,trigger,"(swallowing,)",None,data/FSD50K/dev_audio/337490.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Total samples: 374

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            329   87.967914
ESC50              40   10.695187
FOAMS               5    1.336898

* Distribution by split:

       count  percentage
split
train    264   70.588235
test      76   20.320856
val       34    9.090909

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            365   97.593583
(FOAMS,)          9    2.406417

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
17290,FSD50K,train,416855,trigger,"(human_breathing,)",None,data/FSD50K/dev_audio/416855.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
82,ESC50,test,112557,trigger,"(human_breathing,)",None,data/ESC50/ESC-50-master/audio/3-112557-B-23.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
17397,FSD50K,train,10001,trigger,"(human_breathing,)",None,data/FSD50K/dev_audio/10001.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 357

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            312   87.394958
ESC50              40   11.204482
FOAMS               5    1.400560

* Distribution by split:

       count  percentage
split
train    249   69.747899
test      83   23.249300
val       25    7.002801

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            350   98.039216
(FOAMS,)          7    1.960784

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
21910,FSD50K,train,331061,trigger,"(clearing_throat,)",None,data/FSD50K/dev_audio/331061.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
21965,FSD50K,train,120213,trigger,"(clearing_throat,)",None,data/FSD50K/dev_audio/120213.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
21790,FSD50K,train,149042,trigger,"(clearing_throat,)",None,data/FSD50K/dev_audio/149042.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'https://creativecommons.org/l...

* Total samples: 431

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            426   98.839907
FOAMS               5    1.160093

* Distribution by split:

       count  percentage
split
train    273   63.341067
test     113   26.218097
val       45   10.440835

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            424    98.37587
(FOAMS,)          7     1.62413

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
13884,FSD50K,train,426429,trigger,"(plastic_crumpling,)",None,data/FSD50K/dev_audio/426429.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
25971,FSD50K,train,71934,trigger,"(plastic_crumpling,)",None,data/FSD50K/dev_audio/71934.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
13758,FSD50K,train,344644,trigger,"(plastic_crumpling,)",None,data/FSD50K/dev_audio/344644.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 213

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            208   97.652582
FOAMS               5    2.347418

* Distribution by split:

       count  percentage
split
train    151   70.892019
test      39   18.309859
val       23   10.798122

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            208   97.652582
(FOAMS,)          5    2.347418

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
16557,FSD50K,train,216918,trigger,"(chewing_gum,)",None,data/FSD50K/dev_audio/216918.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
16545,FSD50K,train,20270,trigger,"(chewing_gum,)",None,data/FSD50K/dev_audio/20270.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
31198,FOAMS,test,125375,trigger,"(chewing_gum,)","(FOAMS,)",data/FOAMS/processed_audio/125375_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 188

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            183   97.340426
FOAMS               5    2.659574

* Distribution by split:

       count  percentage
split
train    126   67.021277
test      46   24.468085
val       16    8.510638

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            182   96.808511
(FOAMS,)          6    3.191489

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
22179,FSD50K,train,252796,trigger,"(knife_cutting,)",None,data/FSD50K/dev_audio/252796.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
26508,FSD50K,train,125521,trigger,"(knife_cutting,)",None,data/FSD50K/dev_audio/125521.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
26506,FSD50K,val,369233,trigger,"(knife_cutting,)",None,data/FSD50K/dev_audio/369233.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Total samples: 5

* Distribution by source dataset: All samples have the same value: FOAMS

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: ('FOAMS',)

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
31195,FOAMS,test,530362,trigger,"(basketball_dribbling,)","(FOAMS,)",data/FOAMS/processed_audio/530362_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
31194,FOAMS,test,453757,trigger,"(basketball_dribbling,)","(FOAMS,)",data/FOAMS/processed_audio/453757_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
31191,FOAMS,test,184320,trigger,"(basketball_dribbling,)","(FOAMS,)",data/FOAMS/processed_audio/184320_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 5

* Distribution by source dataset: All samples have the same value: FOAMS

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: ('FOAMS',)

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
31210,FOAMS,test,275304,trigger,"(flipping_newspaper,)","(FOAMS,)",data/FOAMS/processed_audio/275304_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
31206,FOAMS,test,636467,trigger,"(flipping_newspaper,)","(FOAMS,)",data/FOAMS/processed_audio/636467_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
31207,FOAMS,test,473981,trigger,"(flipping_newspaper,)","(FOAMS,)",data/FOAMS/processed_audio/473981_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

### Examine by source dataset

In [10]:
# for each source dataset
for source_dataset in combined_meta["source_dataset"].unique():
    subset = combined_meta[combined_meta["source_dataset"] == source_dataset]
    print_subset_info(f"Source dataset = {source_dataset}", subset)

* Total samples: 200

* Distribution by source dataset: All samples have the same value: ESC50

* Distribution by split:

       count  percentage
split
train    131        65.5
test      53        26.5
val       16         8.0

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            194        97.0
(FOAMS,)          6         3.0

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
55,ESC50,train,139748,trigger,"(water_drops,)",None,data/ESC50/ESC-50-master/audio/2-139748-A-15.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
169,ESC50,val,207836,trigger,"(swallowing,)",None,data/ESC50/ESC-50-master/audio/5-207836-D-29.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
128,ESC50,train,169726,trigger,"(clearing_throat,)",None,data/ESC50/ESC-50-master/audio/4-169726-A-24.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Total samples: 30991

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train  23343   75.321868
test    4483   14.465490
val     3165   10.212642

* Distribution by label type:

            count  percentage
label_type
background  27930   90.122939
trigger      2167    6.992353
control       894    2.884708

* Distribution by validated by:

              count  percentage
validated_by
None          30985    99.98064
(FOAMS,)          6     0.01936

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
8748,FSD50K,train,58672,background,"(Crowd, Applause, Cheering)",None,data/FSD50K/dev_audio/58672.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
5324,FSD50K,train,54404,background,"(Train, Engine)",None,data/FSD50K/dev_audio/54404.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
11567,FSD50K,train,144780,background,"(Snare_drum,)",None,data/FSD50K/dev_audio/144780.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Total samples: 50

* Distribution by source dataset: All samples have the same value: FOAMS

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: ('FOAMS',)

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
31191,FOAMS,test,184320,trigger,"(basketball_dribbling,)","(FOAMS,)",data/FOAMS/processed_audio/184320_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
31210,FOAMS,test,275304,trigger,"(flipping_newspaper,)","(FOAMS,)",data/FOAMS/processed_audio/275304_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
31227,FOAMS,test,267932,trigger,"(swallowing,)","(FOAMS,)",data/FOAMS/processed_audio/267932_processed.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

### Examine single vs. multi-label data

In [11]:
def normalize_label_tuple(s: pd.Series) -> pd.Series:
    return s.apply(lambda labels: tuple(sorted(labels)))

label_len = combined_meta["labels"].apply(len)
for label_count in sorted(label_len.unique()):
    subset = combined_meta[label_len == label_count]
    print_subset_info(f"Number of labels = {label_count}", subset)
    print_value_counts_pcts("\n* Label pairs distribution:", normalize_label_tuple(subset["labels"]))

    print("\n ---- ")

* Total samples: 28117

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K          27867   99.110858
ESC50             200    0.711313
FOAMS              50    0.177828

* Distribution by split:

       count  percentage
split
train  21666   77.056585
test    3528   12.547569
val     2923   10.395846

* Distribution by label type:

            count  percentage
label_type
background  24834   88.323790
trigger      2389    8.496639
control       894    3.179571

* Distribution by validated by:

              count  percentage
validated_by
None          28055   99.779493
(FOAMS,)         62    0.220507

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
3361,FSD50K,train,55694,background,"(Guitar,)",None,data/FSD50K/dev_audio/55694.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
7171,FSD50K,train,373600,background,"(Oboe,)",None,data/FSD50K/dev_audio/373600.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
8470,FSD50K,train,266484,background,"(Bass_guitar,)",None,data/FSD50K/dev_audio/266484.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Label pairs distribution:

                              count  percentage
labels
(Laughter,)                     691    2.457588
(Snare_drum,)                   684    2.432692
(Cello,)                        660    2.347334
(Trumpet,)                      610    2.169506
(Clarinet,)                     592    2.105488
...                             ...         ...
(Yodeling,)                       2    0.007113
(Mouse,)                          1    0.003557
(Sailboat_and_sailing_ship,)      1    0.003557
(Rail_transport,)                 1    0.003557
(Music,)                          1    0.003557

[190 rows x 2 columns]

 ----

* Total samples: 2673

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train   1631   61.017583
test     815   30.490086
val      227    8.492331

* Distribution by label type:

            count  percentage
label_type
background   2645   98.952488
trigger        28    1.047512

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
24021,FSD50K,train,250923,background,"(Water_tap_and_faucet, Sink_(filling_or_washing))",None,data/FSD50K/dev_audio/250923.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
24204,FSD50K,train,186489,background,"(Water_tap_and_faucet, Sink_(filling_or_washing))",None,data/FSD50K/dev_audio/186489.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
3577,FSD50K,train,183750,background,"(Guitar, Acoustic_guitar)",None,data/FSD50K/dev_audio/183750.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Label pairs distribution:

                                                    count  percentage
labels
(Sink_(filling_or_washing), Water_tap_and_faucet)     123    4.601571
(Splash_and_splatter, Water)                          112    4.190049
(Drum, Drum_kit)                                       74    2.768425
(Applause, Cheering)                                   55    2.057613
(Applause, Crowd)                                      41    1.533857
...                                                   ...         ...
(Light_engine_(high_frequency), Motor_vehicle_(...      1    0.037411
(Motor_vehicle_(road), Power_windows_and_electr...      1    0.037411
(Glass, Keys_jangling)                                  1    0.037411
(Motor_vehicle_(road), Sliding_door)                    1    0.037411
(Chirp_and_tweet, Shuffling_cards)                      1    0.037411

[628 rows x 2 columns]

 ----

* Total samples: 349

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test     164   46.991404
train    156   44.699140
val       29    8.309456

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
27759,FSD50K,test,1044,background,"(Human_voice, Engine, Motorcycle)",None,data/FSD50K/eval_audio/1044.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
29050,FSD50K,test,274153,background,"(Music, Belly_laugh, Giggle)",None,data/FSD50K/eval_audio/274153.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
27250,FSD50K,test,191392,background,"(Bus, Female_speech_and_woman_speaking, Engine)",None,data/FSD50K/eval_audio/191392.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Label pairs distribution:

                                                    count  percentage
labels
(Applause, Cheering, Crowd)                            35   10.028653
(Bass_drum, Drum_kit, Snare_drum)                      14    4.011461
(Bathtub_(filling_or_washing), Splash_and_splat...      8    2.292264
(Car, Engine, Vehicle)                                  8    2.292264
(Car, Engine, Motor_vehicle_(road))                     7    2.005731
...                                                   ...         ...
(Acoustic_guitar, Bass_drum, Tambourine)                1    0.286533
(Camera, Choir, Organ)                                  1    0.286533
(Accordion, Choir, Tambourine)                          1    0.286533
(Boat_and_Water_vehicle, Engine_starting, Keys_...      1    0.286533
(Accelerating_and_revving_and_vroom, Engine_sta...      1    0.286533

[207 rows x 2 columns]

 ----

* Total samples: 83

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test      61   73.493976
train     21   25.301205
val        1    1.204819

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
29250,FSD50K,test,257615,background,"(Choir, Tambourine, Accordion, Violin_and_fiddle)",None,data/FSD50K/eval_audio/257615.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
27407,FSD50K,test,15474,background,"(Wind, Boat_and_Water_vehicle, Engine, Ocean)",None,data/FSD50K/eval_audio/15474.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
28430,FSD50K,test,264744,background,"(Tambourine, Drum_kit, Snare_drum, Hi-hat)",None,data/FSD50K/eval_audio/264744.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Label pairs distribution:

                                                    count  percentage
labels
(Bass_drum, Drum_kit, Hi-hat, Snare_drum)              14   16.867470
(Bass_drum, Hi-hat, Snare_drum, Synthesizer)            4    4.819277
(Accelerating_and_revving_and_vroom, Car, Engin...      4    4.819277
(Bus, Engine_starting, Motor_vehicle_(road), Ve...      3    3.614458
(Car, Engine, Motor_vehicle_(road), Vehicle)            2    2.409639
(Bass_drum, Guitar, Snare_drum, Synthesizer)            2    2.409639
(Drum_kit, Hi-hat, Snare_drum, Synthesizer)             2    2.409639
(Bass_drum, Electric_guitar, Hi-hat, Snare_drum)        2    2.409639
(Applause, Cheering, Crowd, Whistling)                  2    2.409639
(Applause, Bell, Crowd, Trumpet)                        1    1.204819
(Bus, Conversation, Male_speech_and_man_speakin...      1    1.204819
(Brass_instrument, Drum, Orchestra, Violin_and_...      1    1.204819
(Bass_drum, Drum, Drum_kit, Hi-hat)                     1    1.204819
(Brass_instrument, French_horn, Trombone, Trumpet)      1    1.204819
(Applause, Cheering, Crowd, Human_voice)                1    1.204819
(Bass_drum, Cowbell, Drum_kit, Snare_drum)              1    1.204819
(French_horn, Organ, Trombone, Trumpet)                 1    1.204819
(Bass_guitar, Drum, Electric_guitar, Hi-hat)            1    1.204819
(Bass_drum, Electric_guitar, Snare_drum, Synthe...      1    1.204819
(Dishes_and_pots_and_pans, Glass, Microwave_ove...      1    1.204819
(Engine, Motor_vehicle_(road), Motorcycle, Vehi...      1    1.204819
(Liquid, Sink_(filling_or_washing), Splash_and_...      1    1.204819
(Conversation, Female_speech_and_woman_speaking...      1    1.204819
(Accelerating_and_revving_and_vroom, Car, Engin...      1    1.204819
(Fill_(with_liquid), Glass, Liquid, Water)              1    1.204819
(Applause, Cheering, Male_speech_and_man_speaki...      1    1.204819
(Crowd, Female_speech_and_woman_speaking, Laugh...      1    1.204819
(Bicycle, Door, Gears, Male_speech_and_man_spea...      1    1.204819
(Conversation, Female_speech_and_woman_speaking...      1    1.204819
(Gears, Male_speech_and_man_speaking, Musical_i...      1    1.204819
(Chirp_and_tweet, Conversation, Female_speech_a...      1    1.204819
(Door, Female_speech_and_woman_speaking, Light_...      1    1.204819
(Bicycle, Gears, Male_speech_and_man_speaking, ...      1    1.204819
(Rain, Wind, Wind_chime, Wood)                          1    1.204819
(Chirp_and_tweet, Female_speech_and_woman_speak...      1    1.204819
(Boat_and_Water_vehicle, Engine, Ocean, Wind)           1    1.204819
(Gull_and_seagull, Ship, Waves_and_surf, Wind)          1    1.204819
(Boat_and_Water_vehicle, Hubbub_and_speech_nois...      1    1.204819
(Chirp_and_tweet, Clip-clop, Walk_and_footsteps...      1    1.204819
(Chirp_and_tweet, Conversation, Female_speech_a...      1    1.204819
(Children_playing, Conversation, Laughter, Male...      1    1.204819
(Bass_drum, Drum_kit, Snare_drum, Synthesizer)          1    1.204819
(Bass_drum, Hi-hat, Synthesizer, Tambourine)            1    1.204819
(Bass_drum, Hi-hat, Rimshot, Synthesizer)               1    1.204819
(Bass_drum, Cowbell, Hi-hat, Synthesizer)               1    1.204819
(Flute, Snare_drum, Trombone, Trumpet)                  1    1.204819
(Bassoon, Clarinet, French_horn, Oboe)                  1    1.204819
(Bass_drum, Bass_guitar, Drum_kit, Synthesizer)         1    1.204819
(Bell, Clip-clop, Crowd, Music)                         1    1.204819
(Cymbal, French_horn, Orchestra, Timpani)               1    1.204819
(Cymbal, Marimba_and_xylophone, Tambourine, Tim...      1    1.204819
(Bass_drum, Bass_guitar, Hi-hat, Snare_drum)            1    1.204819
(Cymbal, Drum, Rattle_(instrument), Tambourine)         1    1.204819
(Bicycle, Doorbell, Gears, Walk_and_footsteps)          1    1.204819
(Chirp_and_tweet, Slosh, Walk_and_footsteps, Wa...      1    1.204819
(Drum_kit, Hi-hat, Snare_drum, Tambourine)              1    1.204819
(Accordion, Choir, Tambourine, Violin_and_fiddle)       1    1.204819

 ----

* Total samples: 16

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test      15       93.75
val        1        6.25

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
27504,FSD50K,test,170449,background,"(Synthesizer, Drum_kit, Snare_drum, Hi-hat, Ba...",None,data/FSD50K/eval_audio/170449.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
27622,FSD50K,test,259886,background,"(Bass_guitar, Synthesizer, Snare_drum, Violin_...",None,data/FSD50K/eval_audio/259886.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
1098,FSD50K,val,87315,background,"(Coin_(dropping), Bus, Walk_and_footsteps, Con...",None,data/FSD50K/dev_audio/87315.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'https://creativecommons.org/l...

* Label pairs distribution:

                                                    count  percentage
labels
(Bass_drum, Drum_kit, Hi-hat, Snare_drum, Synth...      3       18.75
(Bus, Coin_(dropping), Conversation, Walk_and_f...      1        6.25
(Bass_drum, Electric_guitar, Hi-hat, Snare_drum...      1        6.25
(Drum, Drum_kit, Electric_guitar, Hi-hat, Tambo...      1        6.25
(Bird_flight_and_flapping_wings, Duck, Goose, S...      1        6.25
(Conversation, Female_speech_and_woman_speaking...      1        6.25
(Bass_drum, Hi-hat, Organ, Snare_drum, Synthesi...      1        6.25
(Bass_drum, Cymbal, Drum_kit, Snare_drum, Synth...      1        6.25
(Bass_drum, Organ, Snare_drum, Synthesizer, Tam...      1        6.25
(Bass_guitar, Hi-hat, Snare_drum, Synthesizer, ...      1        6.25
(Bass_drum, Bell, Hi-hat, Snare_drum, Synthesizer)      1        6.25
(Drum, French_horn, Orchestra, Tambourine, Viol...      1        6.25
(Children_playing, Laughter, Ship, Walk_and_foo...      1        6.25
(Chirp_and_tweet, Cricket, Dog, Natural_sounds,...      1        6.25

 ----

* Total samples: 1

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
26805,FSD50K,test,187299,background,"(Bass_guitar, Alto_saxophone, Snare_drum, Hi-h...",None,data/FSD50K/eval_audio/187299.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Label pairs distribution: All samples have the same value: ('Alto_saxophone', 'Bass_drum', 'Bass_guitar', 'Electric_guitar', 'Hi-hat', 'Snare_drum')

 ----

* Total samples: 2

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
27641,FSD50K,test,368610,background,"(Synthesizer, Snare_drum, Hi-hat, Cowbell, Bas...",None,data/FSD50K/eval_audio/368610.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...
27870,FSD50K,test,431330,background,"(Cello, Brass_instrument, Wind_instrument_and_...",None,data/FSD50K/eval_audio/431330.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Label pairs distribution:

                                                    count  percentage
labels
(Bass_drum, Cowbell, Hi-hat, Snare_drum, Synthe...      1        50.0
(Brass_instrument, Cello, Double_bass, Drum, Or...      1        50.0

 ----

### Examine single vs. multi-label trigger data

In [12]:
trigger_subset = combined_meta[combined_meta["label_type"] == "trigger"]
label_len = trigger_subset["labels"].apply(len)
for label_count in sorted(label_len.unique()):
    subset = trigger_subset[label_len == label_count]
    print_subset_info(f"Number of labels = {label_count}", subset)
    print_value_counts_pcts("\n* Label pairs distribution:", normalize_label_tuple(subset["labels"]))

    print("\n ---- ")

* Total samples: 2389

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K           2139   89.535370
ESC50             200    8.371704
FOAMS              50    2.092926

* Distribution by split:

       count  percentage
split
train   1641   68.689828
test     525   21.975722
val      223    9.334450

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None           2327   97.404772
(FOAMS,)         62    2.595228

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
94,ESC50,test,144253,trigger,"(swallowing,)",None,data/ESC50/ESC-50-master/audio/3-144253-A-29.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'https://creativecommons.org/l...
16510,FSD50K,train,382662,trigger,"(chewing_gum,)",None,data/FSD50K/dev_audio/382662.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
17398,FSD50K,train,10002,trigger,"(human_breathing,)",None,data/FSD50K/dev_audio/10002.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...

* Label pairs distribution:

                         count  percentage
labels
(typing,)                  434   18.166597
(plastic_crumpling,)       429   17.957304
(human_breathing,)         352   14.734198
(clearing_throat,)         337   14.106321
(water_drops,)             326   13.645877
(chewing_gum,)             205    8.580996
(knife_cutting,)           188    7.869401
(swallowing,)              108    4.520720
(basketball_dribbling,)      5    0.209293
(flipping_newspaper,)        5    0.209293

 ----

* Total samples: 28

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test      23   82.142857
train      5   17.857143

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,dataset_license,sound_license
29333,FSD50K,test,259513,trigger,"(human_breathing, clearing_throat)",None,data/FSD50K/eval_audio/259513.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
29323,FSD50K,test,425777,trigger,"(human_breathing, clearing_throat)",None,data/FSD50K/eval_audio/425777.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/pu...
29215,FSD50K,test,408095,trigger,"(chewing_gum, human_breathing)",None,data/FSD50K/eval_audio/408095.wav,{'license_url': 'https://creativecommons.org/l...,{'license_url': 'http://creativecommons.org/li...

* Label pairs distribution:

                                    count  percentage
labels
(clearing_throat, human_breathing)     18   64.285714
(chewing_gum, human_breathing)          4   14.285714
(chewing_gum, clearing_throat)          2    7.142857
(swallowing, water_drops)               2    7.142857
(chewing_gum, plastic_crumpling)        2    7.142857

 ----