In [1]:
from misophonia_dataset._log import setup_print_logging

setup_print_logging()

import pandas as pd

from misophonia_dataset.source_data.esc50 import Esc50Dataset
from misophonia_dataset.source_data.fsd50k import Fsd50kDataset
from misophonia_dataset.source_data.foams import FoamsDataset

# Loading individual source data

In [2]:
esc50 = Esc50Dataset()
esc50.download_data()
esc50_meta = esc50.get_metadata()

esc50_meta.head()

,esc50_filename,esc50_fold,esc50_target,esc50_category,esc50_esc10,freesound_id,esc50_take,source_dataset,file_path,labels,label_type,licensing,validated_by,split
30,1-12653-A-15.wav,1,15,water_drops,False,12653,A,ESC50,/workspaces/misophonia-dataset/data/ESC50/ESC-...,[water_drops],trigger,({'license_url': 'http://creativecommons.org/l...,None,train
31,1-12654-A-15.wav,1,15,water_drops,False,12654,A,ESC50,/workspaces/misophonia-dataset/data/ESC50/ESC-...,[water_drops],trigger,({'license_url': 'http://creativecommons.org/l...,None,train
32,1-12654-B-15.wav,1,15,water_drops,False,12654,B,ESC50,/workspaces/misophonia-dataset/data/ESC50/ESC-...,[water_drops],trigger,({'license_url': 'http://creativecommons.org/l...,None,train
36,1-137-A-32.wav,1,32,keyboard_typing,False,137,A,ESC50,/workspaces/misophonia-dataset/data/ESC50/ESC-...,[typing],trigger,({'license_url': 'https://creativecommons.org/...,None,train
50,1-16746-A-15.wav,1,15,water_drops,False,16746,A,ESC50,/workspaces/misophonia-dataset/data/ESC50/ESC-...,[water_drops],trigger,({'license_url': 'https://creativecommons.org/...,None,val

In [3]:
fsd50k = Fsd50kDataset()
fsd50k.download_data()
fsd50k_meta = fsd50k.get_metadata()

assert fsd50k_meta.loc[fsd50k_meta["fsd50k_split"] == "eval", "split"].isin(["test"]).all(), (
    "All samples from FSD50K 'eval' must be in the 'test' split"
)

fsd50k_meta.head()

,fsd50k_fname,fsd50k_labels,fsd50k_mids,fsd50k_split,source_dataset,freesound_id,file_path,label_type,labels,licensing,validated_by,split
0,64760,[Electric_guitar],/m/02sgy,dev,FSD50K,64760,/workspaces/misophonia-dataset/data/FSD50K/dev...,background,[Electric_guitar],({'license_url': 'http://creativecommons.org/l...,None,train
1,16399,[Electric_guitar],/m/02sgy,dev,FSD50K,16399,/workspaces/misophonia-dataset/data/FSD50K/dev...,background,[Electric_guitar],({'license_url': 'http://creativecommons.org/l...,None,train
2,16401,[Electric_guitar],/m/02sgy,dev,FSD50K,16401,/workspaces/misophonia-dataset/data/FSD50K/dev...,background,[Electric_guitar],({'license_url': 'http://creativecommons.org/l...,None,train
3,16402,[Electric_guitar],/m/02sgy,dev,FSD50K,16402,/workspaces/misophonia-dataset/data/FSD50K/dev...,background,[Electric_guitar],({'license_url': 'http://creativecommons.org/l...,None,train
4,16404,[Electric_guitar],/m/02sgy,dev,FSD50K,16404,/workspaces/misophonia-dataset/data/FSD50K/dev...,background,[Electric_guitar],({'license_url': 'http://creativecommons.org/l...,None,train

In [4]:
foams = FoamsDataset()
foams.download_data()
foams_meta = foams.get_metadata()

assert foams_meta["split"].nunique() == 1 and foams_meta["split"].unique()[0] == "test", (
    "All FOAMS samples must be in the 'test' split"
)

foams_meta.head()

,freesound_id,labels,foams_duration,source_dataset,label_type,file_path,licensing,validated_by,split
0,184320,[basketball_dribbling],3.270003,FOAMS,trigger,/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...,"(FOAMS,)",test
1,580220,[basketball_dribbling],3.862957,FOAMS,trigger,/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...,"(FOAMS,)",test
2,262507,[basketball_dribbling],4.903607,FOAMS,trigger,/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...,"(FOAMS,)",test
3,453757,[basketball_dribbling],5.097981,FOAMS,trigger,/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...,"(FOAMS,)",test
4,530362,[basketball_dribbling],5.344224,FOAMS,trigger,/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...,"(FOAMS,)",test

# Combining all source data

In [5]:
combined_meta = pd.concat([esc50_meta, fsd50k_meta, foams_meta], ignore_index=True)
combined_meta = combined_meta[
    # These colums are there, see the interface.SourceMetaData class
    ["source_dataset", "split", "freesound_id", "label_type", "labels", "validated_by", "file_path", "licensing"] 
]

## Examine different subsets

In [6]:
from IPython.display import HTML, display

def print_value_counts_pcts(title: str, col: pd.Series) -> None:
    normalized = col.value_counts(normalize=True, dropna=False)
    counts = col.value_counts(dropna=False)
    # if all the same, just print that
    if len(counts) == 1:
        print(f"{title} All samples have the same value: {counts.index[0]}")
        return
    
    dist = pd.DataFrame({"count": counts, "percentage": normalized * 100}, index=counts.index)
    print(title)
    display(dist)

def print_subset_info(subset_descr: str, subset: pd.DataFrame):
    display(HTML(f"<h3>=== Subset: {subset_descr} ===</h3>"))
    print(f"* Total samples: {len(subset)}")
    print_value_counts_pcts("\n* Distribution by source dataset:", subset["source_dataset"])
    print_value_counts_pcts("\n* Distribution by split:", subset["split"])
    print_value_counts_pcts("\n* Distribution by label type:", subset["label_type"])
    print_value_counts_pcts("\n* Distribution by validated by:", subset["validated_by"])
    print("\n* Sample entries:")
    display(subset.sample(min(3, len(subset))))

### Examine all source data

In [7]:
print_subset_info("All source data", combined_meta)

* Total samples: 31951

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K          31701   99.217552
ESC50             200    0.625958
FOAMS              50    0.156490

* Distribution by split:

       count  percentage
split
train  23993   75.093111
test    4697   14.700635
val     3261   10.206253

* Distribution by label type:

            count  percentage
label_type
background  28640   89.637257
trigger      2417    7.564708
control       894    2.798034

* Distribution by validated by:

              count  percentage
validated_by
None          31889   99.805953
(FOAMS,)         62    0.194047

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
21298,FSD50K,val,208689,background,[Zipper_(clothing)],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
12983,FSD50K,train,138856,background,[Hi-hat],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
13224,FSD50K,train,323223,background,[Drum_kit],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

### Examine by label type

In [8]:
# For each label type
for label_type in combined_meta["label_type"].unique():
    subset = combined_meta[combined_meta["label_type"] == label_type]
    print_subset_info(f"label_type = {label_type}", subset)

* Total samples: 2417

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K           2167   89.656599
ESC50             200    8.274721
FOAMS              50    2.068680

* Distribution by split:

       count  percentage
split
train   1646   68.100952
test     548   22.672735
val      223    9.226314

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None           2355   97.434837
(FOAMS,)         62    2.565163

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
126,ESC50,val,167155,trigger,[typing],None,/workspaces/misophonia-dataset/data/ESC50/ESC-...,({'license_url': 'http://creativecommons.org/p...
31901,FOAMS,test,184320,trigger,[basketball_dribbling],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
26543,FSD50K,train,398984,trigger,[plastic_crumpling],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 28640

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train  21672   75.670391
test    4021   14.039804
val     2947   10.289804

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
5779,FSD50K,train,355300,background,[Oboe],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
5822,FSD50K,train,119265,background,[Alto_saxophone],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
2477,FSD50K,train,343751,background,[Speech],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Total samples: 894

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train    675   75.503356
test     128   14.317673
val       91   10.178971

* Distribution by label type: All samples have the same value: control

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
14410,FSD50K,train,148481,control,[piano],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
29627,FSD50K,test,121078,control,[piano],None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...
27207,FSD50K,train,272075,control,[hair_dryer],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

### Examine by trigger category

In [9]:
# For each trigger sound label
for label in combined_meta[combined_meta["label_type"] == "trigger"]["labels"].explode().unique():
    subset = combined_meta[
        (combined_meta["label_type"] == "trigger") & (combined_meta["labels"].apply(lambda labels: label in labels))
    ]
    print_subset_info(f"Trigger = {label}", subset)

* Total samples: 328

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            283   86.280488
ESC50              40   12.195122
FOAMS               5    1.524390

* Distribution by split:

       count  percentage
split
train    230   70.121951
test      63   19.207317
val       35   10.670732

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            322   98.170732
(FOAMS,)          6    1.829268

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
10709,FSD50K,train,16750,trigger,[water_drops],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
17955,FSD50K,train,207598,trigger,[water_drops],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
30008,FSD50K,test,376377,trigger,[water_drops],None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...

* Total samples: 434

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            389   89.631336
ESC50              40    9.216590
FOAMS               5    1.152074

* Distribution by split:

       count  percentage
split
train    282   64.976959
test     123   28.341014
val       29    6.682028

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            429   98.847926
(FOAMS,)          5    1.152074

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
24952,FSD50K,train,256437,trigger,[typing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
24972,FSD50K,train,193950,trigger,[typing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
22736,FSD50K,val,152956,trigger,[typing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 110

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K             65   59.090909
ESC50              40   36.363636
FOAMS               5    4.545455

* Distribution by split:

       count  percentage
split
train     76   69.090909
test      18   16.363636
val       16   14.545455

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            103   93.636364
(FOAMS,)          7    6.363636

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
25808,FSD50K,train,209576,trigger,[swallowing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
50,ESC50,test,122763,trigger,[swallowing],None,/workspaces/misophonia-dataset/data/ESC50/ESC-...,({'license_url': 'http://creativecommons.org/p...
146,ESC50,test,194808,trigger,[swallowing],None,/workspaces/misophonia-dataset/data/ESC50/ESC-...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 374

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            329   87.967914
ESC50              40   10.695187
FOAMS               5    1.336898

* Distribution by split:

       count  percentage
split
train    264   70.588235
test      76   20.320856
val       34    9.090909

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            365   97.593583
(FOAMS,)          9    2.406417

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
17502,FSD50K,train,428766,trigger,[human_breathing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
17444,FSD50K,train,270496,trigger,[human_breathing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
17693,FSD50K,train,10172,trigger,[human_breathing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 357

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            312   87.394958
ESC50              40   11.204482
FOAMS               5    1.400560

* Distribution by split:

       count  percentage
split
train    249   69.747899
test      83   23.249300
val       25    7.002801

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            350   98.039216
(FOAMS,)          7    1.960784

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
22143,FSD50K,train,331052,trigger,[clearing_throat],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
22070,FSD50K,train,19111,trigger,[clearing_throat],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'https://creativecommons.org/...
29930,FSD50K,test,360460,trigger,"[clearing_throat, human_breathing]",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 431

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            426   98.839907
FOAMS               5    1.160093

* Distribution by split:

       count  percentage
split
train    273   63.341067
test     113   26.218097
val       45   10.440835

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            424    98.37587
(FOAMS,)          7     1.62413

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
14151,FSD50K,train,389548,trigger,[plastic_crumpling],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
14067,FSD50K,train,257775,trigger,[plastic_crumpling],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
14065,FSD50K,train,235755,trigger,[plastic_crumpling],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 213

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            208   97.652582
FOAMS               5    2.347418

* Distribution by split:

       count  percentage
split
train    151   70.892019
test      39   18.309859
val       23   10.798122

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            208   97.652582
(FOAMS,)          5    2.347418

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
16839,FSD50K,train,379341,trigger,[chewing_gum],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
16851,FSD50K,train,178149,trigger,[chewing_gum],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
16799,FSD50K,train,91980,trigger,[chewing_gum],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 188

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K            183   97.340426
FOAMS               5    2.659574

* Distribution by split:

       count  percentage
split
train    126   67.021277
test      46   24.468085
val       16    8.510638

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            182   96.808511
(FOAMS,)          6    3.191489

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
22435,FSD50K,train,331160,trigger,[knife_cutting],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
30915,FSD50K,test,81119,trigger,[knife_cutting],None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...
22413,FSD50K,train,240473,trigger,[knife_cutting],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 5

* Distribution by source dataset: All samples have the same value: FOAMS

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: ('FOAMS',)

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
31901,FOAMS,test,184320,trigger,[basketball_dribbling],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
31902,FOAMS,test,580220,trigger,[basketball_dribbling],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
31904,FOAMS,test,453757,trigger,[basketball_dribbling],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 5

* Distribution by source dataset: All samples have the same value: FOAMS

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: ('FOAMS',)

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
31918,FOAMS,test,484956,trigger,[flipping_newspaper],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
31916,FOAMS,test,636467,trigger,[flipping_newspaper],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
31917,FOAMS,test,473981,trigger,[flipping_newspaper],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...

### Examine by source dataset

In [10]:
# for each source dataset
for source_dataset in combined_meta["source_dataset"].unique():
    subset = combined_meta[combined_meta["source_dataset"] == source_dataset]
    print_subset_info(f"Source dataset = {source_dataset}", subset)

* Total samples: 200

* Distribution by source dataset: All samples have the same value: ESC50

* Distribution by split:

       count  percentage
split
train    131        65.5
test      53        26.5
val       16         8.0

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None            194        97.0
(FOAMS,)          6         3.0

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
72,ESC50,train,87799,trigger,[clearing_throat],None,/workspaces/misophonia-dataset/data/ESC50/ESC-...,({'license_url': 'http://creativecommons.org/p...
51,ESC50,test,122763,trigger,[swallowing],None,/workspaces/misophonia-dataset/data/ESC50/ESC-...,({'license_url': 'http://creativecommons.org/p...
146,ESC50,test,194808,trigger,[swallowing],None,/workspaces/misophonia-dataset/data/ESC50/ESC-...,({'license_url': 'http://creativecommons.org/p...

* Total samples: 31701

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train  23862   75.272073
test    4594   14.491656
val     3245   10.236270

* Distribution by label type:

            count  percentage
label_type
background  28640   90.344153
trigger      2167    6.835747
control       894    2.820100

* Distribution by validated by:

              count  percentage
validated_by
None          31695   99.981073
(FOAMS,)          6    0.018927

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
1850,FSD50K,train,236560,background,[Male_speech_and_man_speaking],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
11415,FSD50K,train,35592,background,[Snare_drum],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
6193,FSD50K,train,248453,background,[Clarinet],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Total samples: 50

* Distribution by source dataset: All samples have the same value: FOAMS

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: ('FOAMS',)

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
31915,FOAMS,test,592495,trigger,[clearing_throat],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
31904,FOAMS,test,453757,trigger,[basketball_dribbling],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
31908,FOAMS,test,125375,trigger,[chewing_gum],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...

### Examine single vs. multi-label data

In [11]:
def normalize_label_tuple(s: pd.Series) -> pd.Series:
    return s.apply(lambda labels: tuple(sorted(labels)))

label_len = combined_meta["labels"].apply(len)
for label_count in sorted(label_len.unique()):
    subset = combined_meta[label_len == label_count]
    print_subset_info(f"Number of labels = {label_count}", subset)
    print_value_counts_pcts("\n* Label pairs distribution:", normalize_label_tuple(subset["labels"]))

    print("\n ---- ")

* Total samples: 28752

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K          28502   99.130495
ESC50             200    0.695604
FOAMS              50    0.173901

* Distribution by split:

       count  percentage
split
train  22145   77.020729
test    3610   12.555648
val     2997   10.423623

* Distribution by label type:

            count  percentage
label_type
background  25469   88.581664
trigger      2389    8.308987
control       894    3.109349

* Distribution by validated by:

              count  percentage
validated_by
None          28690   99.784363
(FOAMS,)         62    0.215637

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
14647,FSD50K,train,382525,control,[piano],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
18843,FSD50K,train,247767,background,[Violin_and_fiddle],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
27085,FSD50K,train,326001,background,[Velcro_and_hook_and_loop_fastener],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution:

                              count  percentage
labels
(Laughter,)                     691    2.403311
(Snare_drum,)                   684    2.378965
(Cello,)                        660    2.295492
(Trumpet,)                      610    2.121592
(Clarinet,)                     592    2.058987
...                             ...         ...
(Yodeling,)                       2    0.006956
(Mouse,)                          1    0.003478
(Sailboat_and_sailing_ship,)      1    0.003478
(Rail_transport,)                 1    0.003478
(Music,)                          1    0.003478

[195 rows x 2 columns]

 ----

* Total samples: 2737

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
train   1668   60.942638
test     837   30.580928
val      232    8.476434

* Distribution by label type:

            count  percentage
label_type
background   2709   98.976982
trigger        28    1.023018

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
3766,FSD50K,train,346792,background,"[Finger_snapping, Hands]",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
29492,FSD50K,test,161996,background,"[Laughter, Crowd]",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...
16055,FSD50K,train,251863,background,"[Human_voice, Acoustic_guitar]",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution:

                                                   count  percentage
labels
(Sink_(filling_or_washing), Water_tap_and_faucet)    123    4.493972
(Splash_and_splatter, Water)                         112    4.092072
(Drum, Drum_kit)                                      74    2.703690
(Applause, Cheering)                                  55    2.009499
(Applause, Crowd)                                     41    1.497991
...                                                  ...         ...
(Glass, Keys_jangling)                                 1    0.036536
(Glass, Hammer)                                        1    0.036536
(Glass, Singing)                                       1    0.036536
(Accordion, Plucked_string_instrument)                 1    0.036536
(Choir, Organ)                                         1    0.036536

[646 rows x 2 columns]

 ----

* Total samples: 359

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test     170   47.353760
train    159   44.289694
val       30    8.356546

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
1661,FSD50K,train,250741,background,"[Liquid, Water_tap_and_faucet, Water]",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
13395,FSD50K,train,252376,background,"[Human_voice, Percussion, Acoustic_guitar]",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...
1516,FSD50K,train,94802,background,"[Sink_(filling_or_washing), Water_tap_and_fauc...",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution:

                                                    count  percentage
labels
(Applause, Cheering, Crowd)                            35    9.749304
(Bass_drum, Drum_kit, Snare_drum)                      14    3.899721
(Bathtub_(filling_or_washing), Splash_and_splat...      8    2.228412
(Car, Engine, Vehicle)                                  8    2.228412
(Liquid, Sink_(filling_or_washing), Water_tap_a...      7    1.949861
...                                                   ...         ...
(Acoustic_guitar, Bass_drum, Tambourine)                1    0.278552
(Camera, Choir, Organ)                                  1    0.278552
(Accordion, Choir, Tambourine)                          1    0.278552
(Boat_and_Water_vehicle, Engine_starting, Keys_...      1    0.278552
(Accelerating_and_revving_and_vroom, Engine_sta...      1    0.278552

[214 rows x 2 columns]

 ----

* Total samples: 84

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test      62   73.809524
train     21   25.000000
val        1    1.190476

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
8373,FSD50K,train,77292,background,"[Drum, Hi-hat, Bass_drum, Drum_kit]",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
27939,FSD50K,test,26922,background,"[Wind_chime, Rain, Wind, Wood]",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...
29064,FSD50K,test,353853,background,"[Hi-hat, Bass_drum, Snare_drum, Drum_kit]",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...

* Label pairs distribution:

                                                    count  percentage
labels
(Bass_drum, Drum_kit, Hi-hat, Snare_drum)              14   16.666667
(Accelerating_and_revving_and_vroom, Car, Engin...      4    4.761905
(Bass_drum, Hi-hat, Snare_drum, Synthesizer)            4    4.761905
(Bus, Engine_starting, Motor_vehicle_(road), Ve...      3    3.571429
(Bass_drum, Electric_guitar, Hi-hat, Snare_drum)        2    2.380952
(Car, Engine, Motor_vehicle_(road), Vehicle)            2    2.380952
(Bass_drum, Guitar, Snare_drum, Synthesizer)            2    2.380952
(Drum_kit, Hi-hat, Snare_drum, Synthesizer)             2    2.380952
(Applause, Cheering, Crowd, Whistling)                  2    2.380952
(Engine, Motor_vehicle_(road), Motorcycle, Vehi...      1    1.190476
(Brass_instrument, Drum, Orchestra, Violin_and_...      1    1.190476
(Applause, Bell, Crowd, Trumpet)                        1    1.190476
(Bass_drum, Drum, Drum_kit, Hi-hat)                     1    1.190476
(Applause, Cheering, Crowd, Human_voice)                1    1.190476
(French_horn, Organ, Trombone, Trumpet)                 1    1.190476
(Brass_instrument, French_horn, Trombone, Trumpet)      1    1.190476
(Bass_drum, Cowbell, Drum_kit, Snare_drum)              1    1.190476
(Bass_guitar, Drum, Electric_guitar, Hi-hat)            1    1.190476
(Bass_drum, Electric_guitar, Snare_drum, Synthe...      1    1.190476
(Dishes_and_pots_and_pans, Glass, Microwave_ove...      1    1.190476
(Gears, Male_speech_and_man_speaking, Musical_i...      1    1.190476
(Accelerating_and_revving_and_vroom, Car, Engin...      1    1.190476
(Conversation, Female_speech_and_woman_speaking...      1    1.190476
(Bus, Conversation, Male_speech_and_man_speakin...      1    1.190476
(Fill_(with_liquid), Glass, Liquid, Water)              1    1.190476
(Liquid, Sink_(filling_or_washing), Splash_and_...      1    1.190476
(Bicycle, Gears, Male_speech_and_man_speaking, ...      1    1.190476
(Applause, Cheering, Male_speech_and_man_speaki...      1    1.190476
(Crowd, Female_speech_and_woman_speaking, Laugh...      1    1.190476
(Bicycle, Door, Gears, Male_speech_and_man_spea...      1    1.190476
(Conversation, Female_speech_and_woman_speaking...      1    1.190476
(Chirp_and_tweet, Female_speech_and_woman_speak...      1    1.190476
(Chirp_and_tweet, Conversation, Female_speech_a...      1    1.190476
(Children_playing, Conversation, Laughter, Male...      1    1.190476
(Hands, Sink_(filling_or_washing), Walk_and_foo...      1    1.190476
(Rain, Wind, Wind_chime, Wood)                          1    1.190476
(Boat_and_Water_vehicle, Engine, Ocean, Wind)           1    1.190476
(Gull_and_seagull, Ship, Waves_and_surf, Wind)          1    1.190476
(Boat_and_Water_vehicle, Hubbub_and_speech_nois...      1    1.190476
(Chirp_and_tweet, Clip-clop, Walk_and_footsteps...      1    1.190476
(Door, Female_speech_and_woman_speaking, Light_...      1    1.190476
(Chirp_and_tweet, Conversation, Female_speech_a...      1    1.190476
(Bass_drum, Drum_kit, Snare_drum, Synthesizer)          1    1.190476
(Bass_drum, Hi-hat, Synthesizer, Tambourine)            1    1.190476
(Bass_drum, Hi-hat, Rimshot, Synthesizer)               1    1.190476
(Bass_drum, Cowbell, Hi-hat, Synthesizer)               1    1.190476
(Flute, Snare_drum, Trombone, Trumpet)                  1    1.190476
(Bassoon, Clarinet, French_horn, Oboe)                  1    1.190476
(Bass_drum, Bass_guitar, Drum_kit, Synthesizer)         1    1.190476
(Bell, Clip-clop, Crowd, Music)                         1    1.190476
(Cymbal, French_horn, Orchestra, Timpani)               1    1.190476
(Cymbal, Marimba_and_xylophone, Tambourine, Tim...      1    1.190476
(Bass_drum, Bass_guitar, Hi-hat, Snare_drum)            1    1.190476
(Cymbal, Drum, Rattle_(instrument), Tambourine)         1    1.190476
(Bicycle, Doorbell, Gears, Walk_and_footsteps)          1    1.190476
(Chirp_and_tweet, Slosh, Walk_and_footsteps, Wa...      1    1.190476
(Drum_kit, Hi-hat, Snare_drum, Tambourine)              1    1.190476
(Accordion, Choir, Tambourine, Violin_and_fiddle)       1    1.190476

 ----

* Total samples: 16

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test      15       93.75
val        1        6.25

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
28117,FSD50K,test,170449,background,"[Bass_drum, Synthesizer, Drum_kit, Hi-hat, Sna...",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...
28137,FSD50K,test,353064,background,"[Bass_drum, Synthesizer, Organ, Hi-hat, Snare_...",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...
28243,FSD50K,test,376650,background,"[Bass_drum, Synthesizer, Hi-hat, Bell, Snare_d...",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...

* Label pairs distribution:

                                                    count  percentage
labels
(Bass_drum, Drum_kit, Hi-hat, Snare_drum, Synth...      3       18.75
(Bus, Coin_(dropping), Conversation, Walk_and_f...      1        6.25
(Bass_drum, Electric_guitar, Hi-hat, Snare_drum...      1        6.25
(Drum, Drum_kit, Electric_guitar, Hi-hat, Tambo...      1        6.25
(Bird_flight_and_flapping_wings, Duck, Goose, S...      1        6.25
(Conversation, Female_speech_and_woman_speaking...      1        6.25
(Bass_drum, Hi-hat, Organ, Snare_drum, Synthesi...      1        6.25
(Bass_drum, Cymbal, Drum_kit, Snare_drum, Synth...      1        6.25
(Bass_drum, Organ, Snare_drum, Synthesizer, Tam...      1        6.25
(Bass_guitar, Hi-hat, Snare_drum, Synthesizer, ...      1        6.25
(Bass_drum, Bell, Hi-hat, Snare_drum, Synthesizer)      1        6.25
(Drum, French_horn, Orchestra, Tambourine, Viol...      1        6.25
(Children_playing, Laughter, Ship, Walk_and_foo...      1        6.25
(Chirp_and_tweet, Cricket, Dog, Natural_sounds,...      1        6.25

 ----

* Total samples: 1

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
27404,FSD50K,test,187299,background,"[Bass_drum, Hi-hat, Alto_saxophone, Electric_g...",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution: All samples have the same value: ('Alto_saxophone', 'Bass_drum', 'Bass_guitar', 'Electric_guitar', 'Hi-hat', 'Snare_drum')

 ----

* Total samples: 2

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split: All samples have the same value: test

* Distribution by label type: All samples have the same value: background

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
28494,FSD50K,test,431330,background,"[Wind_instrument_and_woodwind_instrument, Bras...",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...
28254,FSD50K,test,368610,background,"[Trombone, Trumpet, Bass_drum, Cowbell, Synthe...",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution:

                                                    count  percentage
labels
(Bass_drum, Cowbell, Hi-hat, Snare_drum, Synthe...      1        50.0
(Brass_instrument, Cello, Double_bass, Drum, Or...      1        50.0

 ----

### Examine single vs. multi-label trigger data

In [12]:
trigger_subset = combined_meta[combined_meta["label_type"] == "trigger"]
label_len = trigger_subset["labels"].apply(len)
for label_count in sorted(label_len.unique()):
    subset = trigger_subset[label_len == label_count]
    print_subset_info(f"Number of labels = {label_count}", subset)
    print_value_counts_pcts("\n* Label pairs distribution:", normalize_label_tuple(subset["labels"]))

    print("\n ---- ")

* Total samples: 2389

* Distribution by source dataset:

                count  percentage
source_dataset
FSD50K           2139   89.535370
ESC50             200    8.371704
FOAMS              50    2.092926

* Distribution by split:

       count  percentage
split
train   1641   68.689828
test     525   21.975722
val      223    9.334450

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by:

              count  percentage
validated_by
None           2327   97.404772
(FOAMS,)         62    2.595228

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
31921,FOAMS,test,554907,trigger,[human_breathing],"(FOAMS,)",/workspaces/misophonia-dataset/data/FOAMS/proc...,({'license_url': 'http://creativecommons.org/p...
10768,FSD50K,train,259499,trigger,[water_drops],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/p...
22702,FSD50K,train,233020,trigger,[typing],None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution:

                         count  percentage
labels
(typing,)                  434   18.166597
(plastic_crumpling,)       429   17.957304
(human_breathing,)         352   14.734198
(clearing_throat,)         337   14.106321
(water_drops,)             326   13.645877
(chewing_gum,)             205    8.580996
(knife_cutting,)           188    7.869401
(swallowing,)              108    4.520720
(basketball_dribbling,)      5    0.209293
(flipping_newspaper,)        5    0.209293

 ----

* Total samples: 28

* Distribution by source dataset: All samples have the same value: FSD50K

* Distribution by split:

       count  percentage
split
test      23   82.142857
train      5   17.857143

* Distribution by label type: All samples have the same value: trigger

* Distribution by validated by: All samples have the same value: None

* Sample entries:

,source_dataset,split,freesound_id,label_type,labels,validated_by,file_path,licensing
29962,FSD50K,test,218411,trigger,"[clearing_throat, human_breathing]",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/p...
29958,FSD50K,test,169217,trigger,"[clearing_throat, human_breathing]",None,/workspaces/misophonia-dataset/data/FSD50K/eva...,({'license_url': 'http://creativecommons.org/l...
17921,FSD50K,train,337506,trigger,"[water_drops, swallowing]",None,/workspaces/misophonia-dataset/data/FSD50K/dev...,({'license_url': 'http://creativecommons.org/l...

* Label pairs distribution:

                                    count  percentage
labels
(clearing_throat, human_breathing)     18   64.285714
(chewing_gum, human_breathing)          4   14.285714
(chewing_gum, clearing_throat)          2    7.142857
(swallowing, water_drops)               2    7.142857
(chewing_gum, plastic_crumpling)        2    7.142857

 ----